<div id="social-icons">
  {% if settings.facebook_url != blank %}
    <a href="{{ settings.facebook_url }}" aria-label="Facebook">
      <i class="fa fa-facebook"></i>
    </a>
  {% endif %}
  {% if settings.instagram_url != blank %}
    <a href="{{ settings.instagram_url }}" aria-label="Instagram">
      <i class="fa fa-instagram"></i>
    </a>
  {% endif %}
  {% if settings.twitter_url != blank %}
    <a href="{{ settings.twitter_url }}" aria-label="Twitter">
      <i class="fa fa-twitter"></i>
    </a>
  {% endif %}
  {% if settings.pinterest_url != blank %}
    <a href="{{ settings.pinterest_url }}" aria-label="Pinterest">
      <i class="fa fa-pinterest"></i>
    </a>
  {% endif %}
  {% if settings.tumblr_url != blank %}
    <a href="{{ settings.tumblr_url }}" aria-label="Tumblr">
      <i class="fa fa-tumblr"></i>
    </a>
  {% endif %}
  {% if settings.flickr_url != blank %}
    <a href="{{ settings.flickr_url }}" aria-label="Flickr">
      <i class="fa fa-flickr"></i>
    </a>
  {% endif %}
  {% if settings.youtube_url != blank %}
    <a href="{{ settings.youtube_url }}" aria-label="Youtube">
      <i class="fa fa-youtube"></i>
    </a>
  {% endif %}
  {% if settings.vimeo_url != blank %}
    <a href="{{ settings.vimeo_url }}" aria-label="vimeo">
      <i class="fa fa-vimeo-square"></i>
    </a>
  {% endif %}
  {% if settings.linkedin_url != blank %}
    <a href="{{ settings.linkedin_url }}" aria-label="Linkedin">
      <i class="fa fa-linkedin"></i>
    </a>
  {% endif %}
</div>
