<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Establish early connection to external domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
  <link rel="preconnect" href="//ajax.googleapis.com" crossorigin />
  {%- assign main_font = settings.main_font -%}
  {%- assign heading_font = settings.heading_font -%}
  {%- assign nav_font = settings.nav_font -%}
  {%- assign main_font_bold = main_font | font_modify: 'weight', 'bolder' -%}
  {%- assign main_font_italic = main_font | font_modify: 'style', 'italic' -%}
  {%- assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic' -%}
  <!-- Preload onDomain stylesheets and script libraries -->
  <link rel="preload" href="{{ 'stylesheet.css' | asset_url }}" as="style">
  <link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ nav_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'eventemitter3.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'option_selection.js' | shopify_asset_url }}" as="script">
  {% if settings.favicon %}<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />{% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  {%- comment -%}
    <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}" />{% endif %}
  {%- endcomment -%}


  {% render 'meta-tags' %}
  {% render 'social-media-tags' %}
  {% render 'structured-data' %}
  {% render 'css-variables' %}
  <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}" type="text/css">
  <style>
    {{ main_font | font_face: font_display: 'swap' }}
    {{ nav_font | font_face: font_display: 'swap' }}
    {{ heading_font | font_face: font_display: 'swap' }}
    {{ main_font_bold | font_face: font_display: 'swap' }}
    {{ main_font_italic | font_face: font_display: 'swap' }}
    {{ main_font_bold_italic | font_face: font_display: 'swap' }}
  </style>

  {{ content_for_header }}
  {% include 'pagefly-header' %}
  {% render 'boost-pfs-style' %}


  {{ shop.metafields.okendo.ReviewsWidgetStyleTag }}
  {{ shop.metafields.okendo.StyleCustomizations }}

  {% if content_for_header contains 'rio.pwztag.com' %}{% render 'productwiz-rio', product: product, shop: shop, installGuard: true %}{% endif %}


        
         

<body class="gridlock {{ template | handleize }} template-{{ template | handleize }} js-slideout-toggle-wrapper js-modal-toggle-wrapper {%- render 'body-classes' -%}">
  <div class="js-slideout-overlay site-overlay"></div>
  <div class="js-modal-overlay site-overlay"></div>

  <aside class="slideout slideout__drawer-left" data-wau-slideout="mobile-navigation" id="slideout-mobile-navigation">
   {% section 'mobile-navigation' %}
  </aside>

  <main class="site-wrap" role="main" data-money-format="{{ shop.money_format }}">
    <div id="wrapper" class="site-wrap__container">   
      <div class="top-header">
        {% section'header' %}
        {% section'notification-bar' %}
        {% render 'searchbar' %}
      </div>
    {% if template contains 'collection' %}
    {% if collection.description contains '[banner]' %}
    {% capture banner %}{{ collection.handle }}.jpg{% endcapture %}
    <div class="collection-banner">
      <img src="{{ banner | file_url }}" alt="{{ collection.title }}">
    </div>
    {% endif %}
    {% endif %}

    {% if template contains 'index' or template contains 'blog' or template contains 'article' or template contains 'list-collections' or template contains 'page.custom-' or template contains 'product.custom-' or template contains 'collection.custom-' %}
     {{ content_for_layout }}

     {% else %}

     <div id="content" class="row">
       {% render 'breadcrumb' %}
       {{ content_for_layout }}
     </div>
    {% endif %}

      <div class="clear"></div>
    </div> <!-- End wrapper -->

    <div class="klaviyo-wrapper">
      <div class="container row desktop-hide">
        <div class="klaviyo-form-XRX88D"></div>
      </div>
      <div class="container row device-hide">
        <div class="klaviyo-form-RhriFU"></div>
      </div>
    </div>
    
    {% section 'footer' %}
  </main>

  {%- if settings.cart_type == 'drawer' -%}
  <aside class="slideout slideout__drawer-right mini-cart" data-wau-slideout="ajax-cart" id="slideout-ajax-cart">
    {% render 'cart-mini' %}
  </aside>
  {% elsif settings.cart_type == 'modal_cart' %}
  <div class="modal__container" data-wau-modal="ajax-cart" id="modal-ajax-cart">
    <div class="modal__inner-wrapper">
      {% render 'cart-mini' %}
    </div>
  </div>
  {%- endif -%}
  {%- if settings.quickview -%}
  <div class="modal__container" data-wau-modal="quickview" id="modal-quickview-cart">
    <div class="modal__inner-wrapper">
      {%- render 'product-quickview' -%}
    </div>
  </div>
  {%- endif -%}

  <script src="{{ 'eventemitter3.min.js' | asset_url }}"></script>
  <script src="{{ 'theme.js' | asset_url }}"></script>
  <script src="{{ 'option_selection.js' | shopify_asset_url }}"></script>

  {% section 'popup' %}

  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
  <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.minSize = 360;
  </script>

  <script>
      document.documentElement.className =
      document.documentElement.className.replace("no-js","js");
  </script>

  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
      <!-- Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
      </div>
      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
      </div>
    </div>
  </div>


<!--begin-boost-pfs-js-->
  {% render 'boost-pfs' %}
<!--end-boost-pfs-js-->

{%- comment -%} #732282779 back in stock script{%- endcomment -%}
<script src="https://a.klaviyo.com/media/js/onsite/onsite.js" ></script>
<script >
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "WLYaYY",
      list: 'Y7x9WG',
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify me when my size is in stock!",
      product_page_class: "klaviyo-bis-trigger",
      product_page_text_align: "left",
      product_page_margin: "0px",
      alternate_anchor: "klaviyo-bis-trigger",
      replace_anchor: true
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Roboto');h3.modal-title{font-size:1.4rem}#completed_message{line-height: 36px}",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#000",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#f3f7f1",
     success_text_color: "#000"
    }
  });
  </script>
    <!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install">!function(_){_.GORGIAS_CHAT_APP_ID="10701",_.GORGIAS_CHAT_BASE_URL="us-east1-898b.production.gorgias.chat",_.GORGIAS_API_BASE_URL="config.gorgias.chat";var e=new XMLHttpRequest;e.open("GET","https://config.gorgias.chat/applications/10701",!0),e.onload=function(t){if(4===e.readyState)if(200===e.status){var n=JSON.parse(e.responseText);if(!n.application||!n.bundleVersion)throw new Error("Missing fields in the response body - https://config.gorgias.chat/applications/10701");if(_.GORGIAS_CHAT_APP=n.application,_.GORGIAS_CHAT_BUNDLE_VERSION=n.bundleVersion,n&&n.texts&&(_.GORGIAS_CHAT_TEXTS=n.texts),n&&n.sspTexts&&(_.GORGIAS_CHAT_SELF_SERVICE_PORTAL_TEXTS=n.sspTexts),!document.getElementById("gorgias-chat-container")){var o=document.createElement("div");o.id="gorgias-chat-container",document.body.appendChild(o);var r=document.createElement("script");r.setAttribute("defer",!0),r.src="https://client-builds.production.gorgias.chat/{bundleVersion}/static/js/main.js".replace("{bundleVersion}",n.bundleVersion),document.body.appendChild(r)}}else console.error("Failed request GET - https://config.gorgias.chat/applications/10701")},e.onerror=function(_){console.error(_)},e.send()}(window||{});</script><script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});
    </script>
    <!--Gorgias Chat Widget End-->
  </body>
  
  <!--Trade Desk All Pages Pixel-->
  <script src="https://js.adsrvr.org/up_loader.1.1.0.js" type="text/javascript"></script>
  <script type="text/javascript">
   ttd_dom_ready( function() {
   if (typeof TTDUniversalPixelApi === 'function') {
       var universalPixelApi = new TTDUniversalPixelApi();
       universalPixelApi.init("i4ywu56", ["ahmg7c7"], "https://insight.adsrvr.org/track/up");
   }
   });
   </script>

   <!--FoxTag All Pages Pixel--> 
   <script src='https://fxctag.com/src/library.js'></script>
   <script>
   foxtag = new foxID();
   foxtag.setAdvertiserID('1048');
   foxtag.send('pageview');
   </script>
  
  
</html>
